2018/9/27 Updates

Changes
1. More columns convertions to proper datatypes
2. New dataframe created for future manipulations
3. Entry and exit tracking numbers combined for each turnstile reporting
4. Hours elapsed since previous reporting tracked
5. Passanger per hour per turntiles tracked


Next steps:
2. Rate for each station by hour (groupby station, day, hour)


ID explained 
Station then Unit(think enterance maybe) then CA(booth) then SCP(turnstyle)

In [1]:
import pandas as pd
import re

In [2]:
#load April - July, 2017 & 2018 MTA Turntile data
#time intensive block
df = pd.read_csv('/Users/GabeKlick/Downloads/turnstile_recordings_summer_2017_2018_clean.csv', index_col = 'Unnamed: 0')
df.head()

/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

,c_a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,"[""A002",R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,6158212,2085529

In [3]:
#rename index column to be used later for dateframes merges
df.rename(index = {'Unnamed: 0': 'Index'}, inplace = True)
df.head()

,c_a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,"[""A002",R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,6158212,2085529

In [4]:
#exit column has a few misplaced chars preventing the column from being int values
#this block removes the chars and converts columns to int64

#apply regex statement to ensure only numbers in the column
def only_num(col):
    return re.findall('(\d)', col)
df.exits = df.exits.apply(lambda x: only_num(str(x)))

#the regex statment returns a list a numbers for each value
#join list values to single string items of numbers
df.exits = df.exits.apply(lambda x: ''.join(x))

#convert str to int64
df.exits = df.exits.apply(lambda x: int(x))

df.head()

,c_a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,"[""A002",R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,6158212,2085529

In [5]:
#combine and convert date,time column from str to datetime
#time intensive block, run then take 5

#df.date = pd.to_datetime(df.date_time, infer_datetime_format= True)
df.date = pd.to_datetime(df.date + ' ' + df.time)

#rename to showcase the new time feature in the column
df.rename({'date': 'date_time'}, axis = 'columns', inplace = True)

#removes the now redundant time column
df.drop(columns = ['time'], inplace = True)

df.head()

,c_a,unit,scp,station,linename,division,date_time,desc,entries,exits
0,"[""A002",R051,02-00-00,59 ST,NQR456W,BMT,2017-04-29 00:00:00,REGULAR,6157740,2085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-04-29 04:00:00,REGULAR,6157777,2085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-04-29 08:00:00,REGULAR,6157810,2085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-04-29 12:00:00,REGULAR,6157963,2085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-04-29 16:00:00,REGULAR,6158212,2085529

In [6]:
#remove dates before May and after August
df = df[(df.date_time.dt.month != 4) & (df.date_time.dt.month != 8)].reset_index()
df.head()

,index,c_a,unit,scp,station,linename,division,date_time,desc,entries,exits
0,12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 00:00:00,REGULAR,6159107,2085842
1,13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 04:00:00,REGULAR,6159116,2085849
2,14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 08:00:00,REGULAR,6159166,2085976
3,15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 12:00:00,REGULAR,6159331,2086218
4,16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 16:00:00,REGULAR,6159595,2086299

In [7]:
#replace typo
df[df['c_a'] == ' "A002']['c_a'] = 'A002'

/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
#grouping by turnstile id (station, unit, c_a, scp), find the difference between consecutive data points
#for each individual turnstile. This method is applied to both the exit, entry, and date_time for each observation
difference_of_entries = df.groupby(['station', 'unit', 'c_a', 'scp'])['entries'].apply(lambda x: x- x.shift(1))
difference_of_exits = df.groupby(['station', 'unit', 'c_a', 'scp'])['exits'].apply(lambda x: x- x.shift(1))
time_elapsed = df.groupby(['station', 'unit', 'c_a', 'scp'])['date_time'].apply(lambda x: x- x.shift(1))

#these 3 series are ardded to a temp data frame that will be merged to the main dataframe
temp_df = pd.DataFrame({'Index': df.index, 'num_entries': difference_of_entries, 'num_exits': difference_of_exits, 'time_elapsed': time_elapsed})

In [9]:
#time intensive, run then take 5
#merge the main and temp df on the index column
df = pd.concat([df, temp_df], axis = 1, join = 'outer')
df.head()

,index,c_a,unit,scp,station,linename,division,date_time,desc,entries,exits,Index,num_entries,num_exits,time_elapsed
0,12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 00:00:00,REGULAR,6159107,2085842,0,NaN,NaN,NaT
1,13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 04:00:00,REGULAR,6159116,2085849,1,9.0,7.0,04:00:00
2,14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 08:00:00,REGULAR,6159166,2085976,2,50.0,127.0,04:00:00
3,15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 12:00:00,REGULAR,6159331,2086218,3,165.0,242.0,04:00:00
4,16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01 16:00:00,REGULAR,6159595,2086299,4,264.0,81.0,04:00:00

In [10]:
#create a new data frame for future manipulation
station_df = df[['station', 'date_time','num_entries', 'num_exits', 'time_elapsed']]
station_df.head()

  station           date_time  num_entries  num_exits time_elapsed
0   59 ST 2017-05-01 00:00:00          NaN        NaN          NaT
1   59 ST 2017-05-01 04:00:00          9.0        7.0     04:00:00
2   59 ST 2017-05-01 08:00:00         50.0      127.0     04:00:00
3   59 ST 2017-05-01 12:00:00        165.0      242.0     04:00:00
4   59 ST 2017-05-01 16:00:00        264.0       81.0     04:00:00

In [11]:
#combine total passangers for each turnstile reporting
station_df['total_passangers'] = df.num_entries + df.num_exits
station_df.head()

/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,station,date_time,num_entries,num_exits,time_elapsed,total_passangers
0,59 ST,2017-05-01 00:00:00,NaN,NaN,NaT,NaN
1,59 ST,2017-05-01 04:00:00,9.0,7.0,04:00:00,16.0
2,59 ST,2017-05-01 08:00:00,50.0,127.0,04:00:00,177.0
3,59 ST,2017-05-01 12:00:00,165.0,242.0,04:00:00,407.0
4,59 ST,2017-05-01 16:00:00,264.0,81.0,04:00:00,345.0

In [14]:
#create column tracking total hours passed for each turnstile reporting
station_df['hours_elapsed'] = ((station_df.time_elapsed.dt.days * 1440) + (station_df.time_elapsed.dt.seconds))/3600
station_df.head()

/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,station,date_time,num_entries,num_exits,time_elapsed,total_passangers,hours_elapsed
0,59 ST,2017-05-01 00:00:00,NaN,NaN,NaT,NaN,NaN
1,59 ST,2017-05-01 04:00:00,9.0,7.0,04:00:00,16.0,4.0
2,59 ST,2017-05-01 08:00:00,50.0,127.0,04:00:00,177.0,4.0
3,59 ST,2017-05-01 12:00:00,165.0,242.0,04:00:00,407.0,4.0
4,59 ST,2017-05-01 16:00:00,264.0,81.0,04:00:00,345.0,4.0

In [17]:
#for each turnstile reporting, finds the rate of passangers per hour
station_df['passangers_per_hour'] = station_df.total_passangers/station_df.hours_elapsed

/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,station,date_time,num_entries,num_exits,time_elapsed,total_passangers,hours_elapsed,passangers_per_hour
0,59 ST,2017-05-01 00:00:00,NaN,NaN,NaT,NaN,NaN,NaN
1,59 ST,2017-05-01 04:00:00,9.0,7.0,0 days 04:00:00,16.0,4.0,4.000000
2,59 ST,2017-05-01 08:00:00,50.0,127.0,0 days 04:00:00,177.0,4.0,44.250000
3,59 ST,2017-05-01 12:00:00,165.0,242.0,0 days 04:00:00,407.0,4.0,101.750000
4,59 ST,2017-05-01 16:00:00,264.0,81.0,0 days 04:00:00,345.0,4.0,86.250000
5,59 ST,2017-05-01 20:00:00,779.0,59.0,0 days 04:00:00,838.0,4.0,209.500000
6,59 ST,2017-05-02 00:00:00,134.0,16.0,0 days 04:00:00,150.0,4.0,37.500000
7,59 ST,2017-05-02 04:00:00,6.0,5.0,0 days 04:00:00,11.0,4.0,2.750000
8,59 ST,2017-05-02 08:00:00,41.0,120.0,0 days 04:00:00,161.0,4.0,40.250000
9,59 ST,2017-05-02 12:00:00,156.0,270.0,0 days 04:00:00,426.0,4.0,106.500000
10,59 ST,2017-05-02 16:00:00,301.0,66.0,0 days 04:00:00,367.0,4.0,91.750000
11,59 ST,2017-05-02 20:00:00,818.0,73.0,0 days 04:00:00,891.0,4.0,222.750000
12,59 ST,2017-05-03 00:00:00,231.0,25.0,0 days 04:00:00,256.0,4.0,64.000000
13,59 ST,2017-05-03 04:00:00,21.0,6.0,0 days 04:00:00,27.0,4.0,6.750000
14,59 ST,2017-05-03 08:00:00,47.0,131.0,0 days 04:00:00,178.0,4.0,44.500000
15,59 ST,2017-05-03 12:00:00,158.0,254.0,0 days 04:00:00,412.0,4.0,103.000000
16,59 ST,2017-05-03 16:00:00,288.0,67.0,0 days 04:00:00,355.0,4.0,88.750000
17,59 ST,2017-05-03 20:00:00,679.0,60.0,0 days 04:00:00,739.0,4.0,184.750000
18,59 ST,2017-05-04 00:00:00,263.0,34.0,0 days 04:00:00,297.0,4.0,74.250000
19,59 ST,2017-05-04 04:00:00,17.0,2.0,0 days 04:00:00,19.0,4.0,4.750000
20,59 ST,2017-05-04 08:00:00,42.0,94.0,0 days 04:00:00,136.0,4.0,34.000000
21,59 ST,2017-05-04 12:00:00,163.0,275.0,0 days 04:00:00,438.0,4.0,109.500000
22,59 ST,2017-05-04 16:00:00,312.0,60.0,0 days 04:00:00,372.0,4.0,93.000000
23,59 ST,2017-05-04 20:00:00,814.0,71.0,0 days 04:00:00,885.0,4.0,221.250000
24,59 ST,2017-05-05 00:00:00,255.0,33.0,0 days 04:00:00,288.0,4.0,72.000000
25,59 ST,2017-05-05 04:00:00,27.0,4.0,0 days 04:00:00,31.0,4.0,7.750000
26,59 ST,2017-05-05 08:00:00,36.0,88.0,0 days 04:00:00,124.0,4.0,31.000000
27,59 ST,2017-05-05 12:00:00,163.0,284.0,0 days 04:00:00,447.0,4.0,111.750000
28,59 ST,2017-05-05 16:00:00,135.0,37.0,0 days 04:00:00,172.0,4.0,43.000000
29,59 ST,2017-05-05 20:00:00,711.0,68.0,0 days 04:00:00,779.0,4.0,194.750000
...,...,...,...,...,...,...,...,...
2005822,QUEENS PLAZA,2017-05-10 21:00:00,0.0,27.0,0 days 04:00:00,27.0,4.0,6.750000
2005823,QUEENS PLAZA,2017-05-11 01:00:00,3.0,20.0,0 days 04:00:00,23.0,4.0,5.750000
2005824,QUEENS PLAZA,2017-05-11 05:00:00,0.0,2.0,0 days 04:00:00,2.0,4.0,0.500000
2005825,QUEENS PLAZA,2017-05-11 09:00:00,0.0,21.0,0 days 04:00:00,21.0,4.0,5.250000
2005826,QUEENS PLAZA,2017-05-11 13:00:00,5.0,34.0,0 days 04:00:00,39.0,4.0,9.750000
2005827,QUEENS PLAZA,2017-05-11 17:00:00,3.0,30.0,0 days 04:00:00,33.0,4.0,8.250000
2005828,QUEENS PLAZA,2017-05-11 21:00:00,0.0,46.0,0 days 04:00:00,46.0,4.0,11.500000
2005829,QUEENS PLAZA,2017-05-12 01:00:00,4.0,22.0,0 days 04:00:00,26.0,4.0,6.500000
2005830,QUEENS PLAZA,2017-05-12 05:00:00,0.0,3.0,0 days 04:00:00,3.0,4.0,0.750000
2005831,QUEENS PLAZA,2017-05-12 09:00:00,0.0,21.0,0 days 04:00:00,21.0,4.0,5.250000
2005832,QUEENS PLAZA,2017-05-12 13:00:00,0.0,15.0,0 days 04:00:00,15.0,4.0,3.750000
2005833,QUEENS PLAZA,2017-05-12 17:00:00,1.0,21.0,0 days 04:00:00,22.0,4.0,5.500000
2005834,QUEENS PLAZA,2017-05-12 21:00:00,0.0,21.0,0 days 04:00:00,21.0,4.0,5.250000
2005835,QUEENS PLAZA,2017-05-06 01:00:00,-346415.0,-488575.0,-438 days +20:00:00,-834990.0,-155.2,5380.090206
2005836,QUEENS PLAZA,2017-05-06 05:00:00,11.0,15.0,0 days 04:00:00,26.0,4.0,6.500000
2005837,QUEENS PLAZA,2017-05-06 09:00:00,28.0,66.0,0 days 04:00:00,94.0,4.0,23.500000
2005838,QUEENS PLAZA,2017-05-06 13:00:00,92.0,75.0,0 days 04:00:00,167.0,4.0,41.750000
2005839,QUEENS PLAZA,2017-05-06 17:00:00,76.0,124.0,0 days 04:00:00,200.0,4.0,50.000000
2005840,QUEENS PLAZA,2017-05-06 21:00:00,88.0,153.0,0 days 04:00:00,241.0,4.0,60.250000
2005841,QUEENS PLAZA,2017-05-07 01:00:00,20.0,143.0,0 days 04:00:00,163.0,4.0,40.750000
2005842,QUEENS PLAZA,2017-05-07 05:00:00,9.0,16.0,0 days 04:00:00,25.0,4.0,6.250000
2005843,QUEENS PLAZA,2017-05-07 09:00:00,51.0,28.0,0 days 04:00:00,79.0,4.0,19.750000
2005844,QUEENS PLAZA,2017-05-07 13:00:00,73.0,66.0,0 days 04:00:00,139.0,4.0,34.750000
2005845,QUEENS PLAZA,2017-05-07 17:00:00,61.0,161.0,0 days 04:00:00,222.0,4.0,55.500000
2005846,QUEENS PLAZA,2017-05-07 21:00:00,67.0,134.0,0 days 04:00:00,201.0,4.0,50.250000
2005847,QUEENS PLAZA,2017-05-08 01:00:00,20.0,132.0,0 days 04:00:00,152.0,4.0,38.000000
2005848,QUEENS PLAZA,2017-05-08 05:00:00,5.0,7.0,0 days 04:00:00,12.0,4.0,3.000000
2005849,QUEENS PLAZA,2017-05-08 09:00:00,70.0,390.0,0 days 04:00:00,460.0,4.0,115.000000
2005850,QUEENS PLAZA,2017-05-08 13:00:00,148.0,248.0,0 days 04:00:00,396.0,4.0,99.000000
2005851,QUEENS PLAZA,2017-05-08 17:00:00,506.0,252.0,0 days 04:00:00,758.0,4.0,189.500000

Unused Code Below

#Entry and Exits data recorded as a 'snapshot' every 4 hours
#Adding columns tracking passanger entery and exit evert 4 hours
df = df.assign(entry_count = df['entries'] - df['entries'].shift(1))
df = df.assign(exit_count = df['exits'] - df['exits'].shift(1))

This block can be used for the challenge but not neccessary for our goals for the project
returns values in the formate requested by the challages 

#This blocks combines the date and time columns so they may later be converted to a datetime type

#combines columns, separated by a space, into the pre-exisiting column 'date'
df.date = df.date + ' '+ df.time

#rename to showcase the new time feature in the column
df.rename({'date': 'date_time'}, axis = 'columns', inplace = True)

#removes the now redundant time column
df.drop(columns = ['time'], inplace= True)

#converting date_time from string to datetime
df.date_time = df.date_time.apply(lambda x: dateutil.parser.parse(x))


#time intensive. Run, then take 5
# df.date = df.date.apply(lambda x: dateutil.parser.parse(x))

Again, may be used for the challenge, but not necessary for the project

#create a new column that combines the date and time columns, separated by a single space
df['date_time'] = df.date + ' '+ df.time
#Warning: time intensive block, run then take 5
#converting date_time from string to datetime
df.date_time = df.date_time.apply(lambda x: dateutil.parser.parse(x))
df.head()
#currently returning datetime in same formate it is in: mm/dd/yyyy hh:mm:ss
#different than the challenge scope, but seems

Incase any issues arrive with exit_entry function, this is the originial code

#This should be a function. See above
#time intensive. Run, then take 5

#Groups turnstiles by station, turnstyle id, and date
#within each group find the difference between the consecutive entry points 
#this difference is stored as a series
df.test = df.groupby(['station','scp','date']).entries.apply(lambda x: x - x.shift(1))

#create a temp df that uses the same index column as the main df

#merge the main and temp df on the index column
df = pd.merge(df, df_entry, how = 'outer', on = 'Index')

df.head(10)

This function is no longer being used

'''
Creates a new series that groups turnstyles by station, id, and date, 
and find the difference in consecutive data points
stores this difference as a series
crease a temp df using difference and the main df's index column
'''
def entry_exit_calc(column, new_col_name, index_name):
    #Groups turnstiles by station, turnstyle id, and date
    #within each group find the difference between the consecutive entry points 
    #this difference is stored as a series
    difference_of_entries = df.groupby(['station', 'unit', 'c_a', 'scp'])[column].apply(lambda x: x- x.shift(1))
    
    hours_elapsed = df.groupby(['station', 'unit', 'c_a', 'scp'])['date_time'].apply(lambda x: x- x.shift(1)) #make sure date_time is correct name
    #create a temp df that uses the same index column as the main df
    return pd.DataFrame({'Index': df[index_name], new_col_name: difference_of_tolls, hours_elapsed: hours_elapsed})