In [1]:
ls

build/                             project.egg-info/
mta_turnstile_data_cleaning.ipynb  scrapinghub.yml*
mta_turnstile_sept_25.csv          scrapy.cfg*
mta_turnstile_spider/              setup.py*

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_colwidth', 1000)

Starting with ALL data from MTA website.

In [4]:
df = pd.read_csv('mta_turnstile_sept_25.csv')

In [5]:
df.head(1)

,turnstile_recordings,week_url
0,"A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,03:00:00,REGULAR,0006478878,0002193318 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,07:00:00,REGULAR,0006478889,0002193326 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,11:00:00,REGULAR,0006478928,0002193408 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,15:00:00,REGULAR,0006479103,0002193469 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,19:00:00,REGULAR,0006479412,0002193524 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/13/2018,23:00:00,REGULAR,0006479518,0002193563 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2018,03:00:00,REGULAR,0006479547,0002193570 ,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/14/2018,07:00:00,REGULAR,0006479552,000...",http://web.mta.info/developers/data/nyct/turnstile/turnstile_180120.txt

In [6]:
df.columns

Index(['turnstile_recordings', 'week_url'], dtype='object')

In [7]:
n = 0
turnstile_list_years = []
for week in df['turnstile_recordings']:
    if '/2017' in df.loc[n, 'turnstile_recordings'] or '/2018' in df.loc[n, 'turnstile_recordings']:
        turnstile_list_years.append(df.loc[n, 'turnstile_recordings'])
        n += 1
    else:
        n+= 1

In [8]:
len(turnstile_list_years)

90

In [9]:
n = 0
turnstile_list_months = []
for week in turnstile_list_years:
    if ',05/' in turnstile_list_years[n] or ',06/' in turnstile_list_years[n] or ',07/' in turnstile_list_years[n]:
        turnstile_list_months.append(turnstile_list_years[n])
        n += 1
    else:
        n+= 1

In [10]:
len(turnstile_list_months)

28

In [11]:
turnstile_list_months_split = str(turnstile_list_months).split(',')

In [12]:
c_a = pd.DataFrame(turnstile_list_months_split[0::11])
c_a.rename({0: 'c_a'}, axis = 'columns', inplace = True)
unit = pd.DataFrame(turnstile_list_months_split[1::11])
unit.rename({0: 'unit'}, axis = 'columns', inplace = True)
scp = pd.DataFrame(turnstile_list_months_split[2::11])
scp.rename({0: 'scp'}, axis = 'columns', inplace = True)
station = pd.DataFrame(turnstile_list_months_split[3::11])
station.rename({0: 'station'}, axis = 'columns', inplace = True)
linename = pd.DataFrame(turnstile_list_months_split[4::11])
linename.rename({0: 'linename'}, axis = 'columns', inplace = True)
division = pd.DataFrame(turnstile_list_months_split[5::11])
division.rename({0: 'division'}, axis = 'columns', inplace = True)
data = pd.DataFrame(turnstile_list_months_split[6::11])
data.rename({0: 'data'}, axis = 'columns', inplace = True)
time = pd.DataFrame(turnstile_list_months_split[7::11])
time.rename({0: 'time'}, axis = 'columns', inplace = True)
desc = pd.DataFrame(turnstile_list_months_split[8::11])
desc.rename({0: 'desc'}, axis = 'columns', inplace = True)
entries = pd.DataFrame(turnstile_list_months_split[9::11])
entries.rename({0: 'entries'}, axis = 'columns', inplace = True)
exits = pd.DataFrame(turnstile_list_months_split[10::11])
exits.rename({0: 'exits'}, axis = 'columns', inplace = True)

Final DataFrame includes only May, June and July from 2017 and 2018.

In [13]:
df = pd.concat([c_a, unit, scp, station, linename, division, data, time, desc, entries, exits], axis = 1, join = 'outer')

In [14]:
df.head()

,c_a,unit,scp,station,linename,division,data,time,desc,entries,exits
0,"[""A002",R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,00:00:00,REGULAR,0006157740,0002085315
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,04:00:00,REGULAR,0006157777,0002085319
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,08:00:00,REGULAR,0006157810,0002085353
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,12:00:00,REGULAR,0006157963,0002085453
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/29/2017,16:00:00,REGULAR,0006158212,0002085529

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2137380 entries, 0 to 2137379
Data columns (total 11 columns):
c_a         object
unit        object
scp         object
station     object
linename    object
division    object
data        object
time        object
desc        object
entries     object
exits       object
dtypes: object(11)
memory usage: 179.4+ MB

In [ ]:
df.to_csv('turnstile_recordings_summer_2017_2018_clean.csv')