2018/9/27 Updates

Changes
1. More columns convertions to proper datatypes
2. New dataframe created for future manipulations
3. Entry and exit tracking numbers combined for each turnstile reporting
4. Hours elapsed since previous reporting tracked
5. Passenger per hour per turntiles tracked


Next steps:
2. Rate for each station by hour (groupby station, day, hour)


ID explained 
Station then Unit(think enterance maybe) then CA(booth) then SCP(turnstyle)

In [4]:
import pandas as pd
import re

In [5]:
#changes float views from scientific to ???? (what would you call the other view?)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [ ]:
#load April - July, 2017 & 2018 MTA Turntile data
#time intensive block
df = pd.read_csv('/Users/GabeKlick/Downloads/turnstile_recordings_summer_2017_2018_clean.csv', index_col = 'Unnamed: 0')
df.head()

In [ ]:
#exit column has a few misplaced chars preventing the column from being int values
#this block removes the chars and converts columns to int64

#apply regex statement to ensure only numbers in the column
def only_num(col):
    return re.findall('(\d)', col)
df.exits = df.exits.apply(lambda x: only_num(str(x)))

#the regex statment returns a list a numbers for each value
#join list values to single string items of numbers
df.exits = df.exits.apply(lambda x: ''.join(x))

#convert str to int64
df.exits = df.exits.apply(lambda x: int(x))

df.head()

In [ ]:
#dropped df.date conversion - which was a speparate from the date_time combine conversion

#combine and convert date,time column from str to datetime
#time intensive block, run then take 5

#df.date = pd.to_datetime(df.date_time, infer_datetime_format= True)
df.time = pd.to_datetime(df.date + ' ' + df.time)

#rename to showcase the new time feature in the column
df.rename({'time': 'date_time'}, axis = 'columns', inplace = True)

#removes the now date time column
df.drop(columns = ['date'], inplace = True)

df.head()

In [ ]:
#ensure that date_time is increasing in chronical order
#this is helpful later when grouping by turnstiles and station
df = df.sort_values(by = 'date_time', ascending = True)

In [ ]:
#create pickle for quicker processing time
df.to_pickle('date_formatted_df.pkl')

In [6]:
df = pd.read_pickle('/Users/GabeKlick/Desktop//date_formatted_df.pkl')

In [ ]:
#remove dates before May and after August
df = df[(df.date_time.dt.month != 4) & (df.date_time.dt.month != 8)].reset_index()
df.head()

In [8]:
#replace typo in c_a column
df[df['c_a'] == ' "A002']['c_a'] = 'A002'
df.head()

/Users/GabeKlick/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,index,c_a,unit,scp,station,linename,division,date,date_time,desc,entries,exits,Index,num_entries,num_exits,time_elapsed
0,12,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01,2017-05-01 00:00:00,REGULAR,6159107,2085842,0,nan,nan,NaT
1,13,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01,2017-05-01 04:00:00,REGULAR,6159116,2085849,1,9.000,7.000,04:00:00
2,14,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01,2017-05-01 08:00:00,REGULAR,6159166,2085976,2,50.000,127.000,04:00:00
3,15,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01,2017-05-01 12:00:00,REGULAR,6159331,2086218,3,165.000,242.000,04:00:00
4,16,A002,R051,02-00-00,59 ST,NQR456W,BMT,2017-05-01,2017-05-01 16:00:00,REGULAR,6159595,2086299,4,264.000,81.000,04:00:00

In [ ]:
#grouping by turnstile id (station, unit, c_a, scp), find the difference between consecutive data points
#for each individual turnstile. This method is applied to both the exit, entry, and date_time for each observation
difference_of_entries = df.groupby(['station', 'unit', 'c_a', 'scp'])['entries'].apply(lambda x: x- x.shift(1))
difference_of_exits = df.groupby(['station', 'unit', 'c_a', 'scp'])['exits'].apply(lambda x: x- x.shift(1))
time_elapsed_series = df.groupby(['station', 'unit', 'c_a', 'scp'])['date_time'].apply(lambda x: x- x.shift(1))

#these 3 series are ardded to a temp data frame that will be merged to the main dataframe
temp_df = pd.DataFrame({'Index': df.index, 'num_entries': difference_of_entries, 'num_exits': difference_of_exits, 'time_elapsed': time_elapsed_series})

In [ ]:
#time intensive, run then take 5
#merge the main and temp df on the index column
df = pd.concat([df, temp_df], axis = 1, join = 'outer')
df.head()

In [ ]:
# removed all rows where the time elapsed was greater than 60 days
#This drops 1.8% of the data
df = df[df['time_elapsed'].dt.days <= 60]

In [ ]:
# removed rows with negative time elapses.
# needed to be greated than OR equal to because all time elapses within 24 hours are 0 or dt.days
#This removed 0% of the data
df = df[df['time_elapsed'].dt.days >= 0]

In [ ]:
#This should later be moved to a later section, where the columns are defined
'''
Create a variable that tracks the rate of passengers for each turnstile per hour

Numerator: add the num enteries/exit per observation that was found before the merge.
This gives total foot traffic per turnstile per observation

Denominator: time elapsed provides the difference between each observation for each turnstile.
This observation can be pulled by full days (year,mont, day converted to day) 
and partial day (hour, min, seconds to seconds).
For each observation the full and partial day info is converted to seconds (24hours*60min*60sec = 86400seconds)
then converted back to hour format (60min*60seconds = 3600 seconds)

'''
df['passengers_per_hour_per_turnstile'] = (df.num_entries + df.num_exits) \
/(((df.time_elapsed.dt.days * 86400) + (df.time_elapsed.dt.seconds))/3600)

In [ ]:
# remove outliers for passengers per hour per turnstile that are greater than 1000
#this removes .01% of the data
df = df[df['passengers_per_hour_per_turnstile'] < 1000]

In [ ]:
# created a new dataframe grouping station by date, and turnstile
turnstile_df = df[['station', 'date_time','num_entries', 'num_exits', 'time_elapsed']]
turnstile_df.head()

In [ ]:
# removed all rows where the num_entries OR the num_exits was less than or equal to 0
#logically, turnstiles should alway be increasing throughout time. However, due to errors in the systems
#such as resets there can be cases of negative values

#This removes 16.65% of the data
turnstile_df = turnstile_df[(turnstile_df['num_entries'] > 0) & (turnstile_df['num_exits'] > 0)]

In [ ]:
#see above for long block using these equations before defining variable
#variable should have a different name, total passengers per turnstiles or something

# combine total passengers for each turnstile reporting
turnstile_df['total_passengers'] = turnstile_df.num_entries + turnstile_df.num_exits
turnstile_df.head()

In [ ]:
#see above for long block using these equations before defining variable


#create column tracking total hours passed for each turnstile reporting
turnstile_df['hours_elapsed'] = (((df['time_elapsed'].dt.days * 86400) + (df['time_elapsed'].dt.seconds)))/3600
turnstile_df.head()

In [ ]:
#pickle the data frame
turnstile_df.to_pickle('turnstile_df.pkl')

In [ ]:
# aggregations for new dataframe 'see below'
#grouping by station and time segment,
#sum across turnstiles in stations
#sum the hours elapsed for each grouping
#count the number of turnstiles in each grouping
#the sum of hours elapsed and turnstiles count should logically divide to the time elapsed
aggregations = {
    'total_passengers': 'sum',
    'hours_elapsed': 'sum',
    'num_entries': 'count'
}

In [ ]:
# create a new dataframe by station by date
#apply aggregations from above
date_df = turnstile_df.groupby(('station','date_time')).agg(aggregations).reset_index()
date_df.rename({'hours_elapsed': 'turnstile_hours', 'num_entries': 'num_turnstiles'}, axis = 1, inplace = True)

In [ ]:
date_df.head()

In [ ]:
#these variables have been defined earlier, here we are rewriting
#passengers per hour is total passengers per station (summed turnstiles totals)

#for each turnstile reporting, finds the rate of passengers per hour
date_df['hours_elapsed'] = (date_df['turnstile_hours']/date_df['num_turnstiles'])
date_df['passengers_per_hour'] = date_df.total_passengers/date_df.hours_elapsed

In [ ]:
date_df.head()

In [ ]:

aggregations = {
    'total_passengers': 'sum',
    'num_turnstiles': 'count',
    'hours_elapsed': 'sum'
}

In [ ]:
date_df.head()

In [ ]:
# create a new dataframe for grouping stations together, irrespective of date
station_df = date_df.groupby(('station')).agg(aggregations).reset_index()
station_df['passengers_per_hour'] = station_df.total_passengers/station_df.hours_elapsed
station_df.rename({'hours_elapsed': 'station_hours'}, axis = 1, inplace = True)
station_df.head()